@model KisiselBerkeKurnaz.Models.TBL_ORTAKOL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_ORTAKOL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TANITIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANITIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YATIRIMCI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YATIRIMCI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EKIPARKADAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EKIPARKADAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJEORTAK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJEORTAK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REKLAMVEREN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REKLAMVEREN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
